@mixin underline($pos, $width, $color, $bg) {
	background-image: linear-gradient(top,
    rgba($bg, 0) $pos,
    $color $pos,
    $color $pos+$width,
    rgba($bg, 0) $pos+$width
    );
  display: inline-block;
  background-size: 2px 2em;
  background-repeat: repeat-x;
	text-decoration: none;
  text-shadow:
   2px  2px 0px $bg,
   2px -2px 0px $bg,
  -2px  2px 0px $bg,
  -2px -2px 0px $bg,
   0px  2px 0px $bg,
   0px -2px 0px $bg;
	}

html, body {
	margin: 0;
	padding: 0;
	background: #222;
	font-family: 'Ubuntu', sans-serif;
	font-size: 36px;
	}

main {
	max-width: 1000px;
	margin: auto;
	padding: 1em;
	}

.human, .server {
	margin: 1em 0;
	width: 75%;
	}

.human {
	color: #ccc;
	a {
		@include underline(1.15em, 0.04em, #ccc, #222);
		color: #ccc;
		&:hover {
			@include underline(1.15em, 0.04em, white, #222);
			color: white;
			}
		}
	}

.server {
	color: #999;
	margin-left: auto;
	a {
		@include underline(1.15em, 0.04em, #999, #222);
		color: #999;
		&:hover {
		@include underline(1.15em, 0.04em, #ccc, #222);
			color: #ccc;
			}
		}
	}

#github {
	display: block;
	width: 100%;
	img {
		display: block;
		margin: auto;
		width: 120px;
		}
	}

::-webkit-scrollbar {
	display: none;
	}