html, body {
  margin: 0;
  padding: 0;
  background: #222;
  font-family: 'Ubuntu', sans-serif;
  font-size: 36px; }

main {
  max-width: 1000px;
  margin: auto;
  padding: 1em; }

.human, .server {
  margin: 1em 0;
  width: 75%; }

.human {
  color: #ccc; }
  .human a {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1.15em, rgba(34, 34, 34, 0)), color-stop(1.15em, #ccc), color-stop(1.19em, #ccc), color-stop(1.19em, rgba(34, 34, 34, 0)));
    background-image: -webkit-linear-gradient(top, rgba(34, 34, 34, 0) 1.15em, #ccc 1.15em, #ccc 1.19em, rgba(34, 34, 34, 0) 1.19em);
    background-image: linear-gradient(top, rgba(34, 34, 34, 0) 1.15em, #ccc 1.15em, #ccc 1.19em, rgba(34, 34, 34, 0) 1.19em);
    display: inline-block;
    -webkit-background-size: 2px 2em;
    background-size: 2px 2em;
    background-repeat: repeat-x;
    text-decoration: none;
    text-shadow: 2px 2px 0px #222, 2px -2px 0px #222, -2px 2px 0px #222, -2px -2px 0px #222, 0px 2px 0px #222, 0px -2px 0px #222;
    color: #ccc; }
    .human a:hover {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1.15em, rgba(34, 34, 34, 0)), color-stop(1.15em, #ffffff), color-stop(1.19em, #ffffff), color-stop(1.19em, rgba(34, 34, 34, 0)));
      background-image: -webkit-linear-gradient(top, rgba(34, 34, 34, 0) 1.15em, #ffffff 1.15em, #ffffff 1.19em, rgba(34, 34, 34, 0) 1.19em);
      background-image: linear-gradient(top, rgba(34, 34, 34, 0) 1.15em, #ffffff 1.15em, #ffffff 1.19em, rgba(34, 34, 34, 0) 1.19em);
      display: inline-block;
      -webkit-background-size: 2px 2em;
      background-size: 2px 2em;
      background-repeat: repeat-x;
      text-decoration: none;
      text-shadow: 2px 2px 0px #222, 2px -2px 0px #222, -2px 2px 0px #222, -2px -2px 0px #222, 0px 2px 0px #222, 0px -2px 0px #222;
      color: white; }

.server {
  color: #999;
  margin-left: auto; }
  .server a {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1.15em, rgba(34, 34, 34, 0)), color-stop(1.15em, #999), color-stop(1.19em, #999), color-stop(1.19em, rgba(34, 34, 34, 0)));
    background-image: -webkit-linear-gradient(top, rgba(34, 34, 34, 0) 1.15em, #999 1.15em, #999 1.19em, rgba(34, 34, 34, 0) 1.19em);
    background-image: linear-gradient(top, rgba(34, 34, 34, 0) 1.15em, #999 1.15em, #999 1.19em, rgba(34, 34, 34, 0) 1.19em);
    display: inline-block;
    -webkit-background-size: 2px 2em;
    background-size: 2px 2em;
    background-repeat: repeat-x;
    text-decoration: none;
    text-shadow: 2px 2px 0px #222, 2px -2px 0px #222, -2px 2px 0px #222, -2px -2px 0px #222, 0px 2px 0px #222, 0px -2px 0px #222;
    color: #999; }
    .server a:hover {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1.15em, rgba(34, 34, 34, 0)), color-stop(1.15em, #ccc), color-stop(1.19em, #ccc), color-stop(1.19em, rgba(34, 34, 34, 0)));
      background-image: -webkit-linear-gradient(top, rgba(34, 34, 34, 0) 1.15em, #ccc 1.15em, #ccc 1.19em, rgba(34, 34, 34, 0) 1.19em);
      background-image: linear-gradient(top, rgba(34, 34, 34, 0) 1.15em, #ccc 1.15em, #ccc 1.19em, rgba(34, 34, 34, 0) 1.19em);
      display: inline-block;
      -webkit-background-size: 2px 2em;
      background-size: 2px 2em;
      background-repeat: repeat-x;
      text-decoration: none;
      text-shadow: 2px 2px 0px #222, 2px -2px 0px #222, -2px 2px 0px #222, -2px -2px 0px #222, 0px 2px 0px #222, 0px -2px 0px #222;
      color: #ccc; }

#github {
  display: block;
  margin: auto;
  padding: 0.5em;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  width: 12em;
  text-align: center; }

::-webkit-scrollbar {
  display: none; }